<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_account_number_field"
                type="Magenest\CollectShipping\Plugin\LayoutProcessorPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="collectshipping_before_save_address_information" type="Magenest\CollectShipping\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>
</config>
