<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_delivery_time_listing_data_source" xsi:type="string">Magenest\DeliveryTime\Model\ResourceModel\DeliveryTime\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\DeliveryTime\Model\ResourceModel\DeliveryTime\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_delivery_time</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\DeliveryTime\Model\ResourceModel\DeliveryTime</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="deliverytime_shipping_info_management_plugin" type="Magenest\DeliveryTime\Plugin\Model\ShippingInformationManagement" disabled="false"/>
    </type>
</config>
